[project]
	description = args4j
[access "refs/*"]
	owner = group user/janmaterne (janmaterne)
[access "refs/for/refs/*"]
	read = group user/janmaterne (janmaterne)
	push = group user/janmaterne (janmaterne)
	label-Code-Review = -2..+2 group user/janmaterne (janmaterne)
	label-Verified = -1..+1 group user/janmaterne (janmaterne)
	rebase = group user/janmaterne (janmaterne)
	removeReviewer = group user/janmaterne (janmaterne)
	submit = group user/janmaterne (janmaterne)
[access "refs/heads/*"]
	read = group user/janmaterne (janmaterne)
	create = group user/janmaterne (janmaterne)
	push = +force group user/janmaterne (janmaterne)
	pushMerge = group user/janmaterne (janmaterne)
[access "refs/tags/*"]
	push = +force group user/janmaterne (janmaterne)
	pushTag = group user/janmaterne (janmaterne)
	pushSignedTag = group user/janmaterne (janmaterne)
